<IfModule mod_rewrite.c>

    RewriteEngine on
    RewriteCond %{Request_URI} !^public
    RewriteRule ^(.*)$ public/$1 [L]
    
 #   RewriteRule ^(.*)$ https://online.tsul.uz/$1 [R=301,L]

</IfModule>